* {
    font-family: Georgia, serif;
}

/* Styling Navbar */
.logo-image {
    width: 150px;

}


/* Styling Item Page*/
.pageContent {
    margin: 40px;
    padding-left:20px;
    font-size: 20px;
}

#food-list {
    margin-left: 50px;
    font-size: 20px;
}

/* Styling About Page */

#natureImage {
    width: 1280px;

}


/* Styling Map Page */

#key {
    font-size: 25px;
    margin: 40px;
    padding-left:325px;
}

#map {
    width: 1500px;
    margin: 10px;
    padding-left:225px;
}

#red {
    color: rgb(207, 92, 78);
}

#green {
    color: rgb(75, 158, 101);
}
#blue {
    color: rgb(87, 140, 238);
}


