* {
    font-family: Georgia, serif;
}

/* Styling Navbar */
.logo-image {
    width: 150px;

}

<<<<<<< HEAD

=======
>>>>>>> ecbf69a73453089347b8e5984ddceb63a7102465
/* Styling Item Page*/
.pageContent {
    margin: 20px;

}
#food-list {
    margin-left: 50px;
    font-size: 20px;
}

/* Styling About Page */

#natureImage {
    width: 1500px;

}

/*

.nav-item {
    text-align: center;
}


.logo-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}
*/

/*
a:active {
    color: red;
}



* {
    margin: 3px;
    padding: 3px;
}


li {
    font-size: 20px;
    margin-left: 20px;
}*/